/*---------------------------------------------------------*/
/*  Page Main 						   */
/*   Classes:						   */
/*      1.table.Main_Page				   */
/*---------------------------------------------------------*/
table.Main_Page {  
	padding: 0;
	border-collapse: collapse ;
	direction:ltr;
	alignment:center;
	text_alignment:center;
	height:76%;
	width:100%
}

/*-------------------------------------------------*/
/*  Header 	 				   */
/*   Classes:					   */
/*      1.td.Header_color			   */
/*      2.tr.Header_Top_Link			   */
/*      3.Table.Header_Submenu			   */
/*      4.td.Header_Submenu			   */
/*      5.td.Header_Line_Between_Submenus	   */
/*      6.td.Page_Header_Date			   */
/*      7.td.Page_Header_Line			   */
/*      8.td.Page_Title				   */
/*      9.td.Page_Top_Space			   */
/*      10.td.Page_Top_Link			   */
/*      11.a:link.Header_Top_Links		   */
/*      12.a:visited.Header_Top_Links		   */
/*      13.a:hover.Header_Top_Links		   */
/*-------------------------------------------------*/

td.Header_color{ 
	background-color:#990000;
}

tr.Header_Top_Link{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #FFFFFF; 
	font-weight:bold; 
	height:19;
	direction:ltr ;
	background-color:#740A0A 
}
td.Header_Submenu{ 
	font-family: Tahoma; 
	font-size: 7pt; 
	color: #222222; 
	font-weight:bold; 
	height:17;
	text-align:right;
	direction:ltr ;
	background-color:#FF9C00 
}
Table.Header_Submenu{ 
	font-family: Tahoma; 
	font-size: 7pt; 
	color: #222222; 
	font-weight:bold; 
	height:17;
	text-align:right;
	direction:ltr ;
	background-color:#FF9C00 
}
td.Header_Line_Between_Submenus{ 
	text-align:center;
	width:10
}

td.Page_Header_Info{ 
	font-family: Tahoma; 
	font-size: 7pt; 
	color: #999999; 
	font-weight:bold; 
	height:23;
	direction:ltr ;
	text-align:right
}
td.Page_Header_Line{ 
	height:3;
	background-image:url('/IBSng/images/background_line_header.gif') 
}

td.Page_Title{ 
	font-family: Tahoma; 
	font-size: 10pt; 
	color: #666666; 
	font-weight:bold; 
	height:17;
	direction:ltr ;
	background-image:url('/IBSng/images/background_page_title.gif') ;
	text-align:center
}
td.Page_Top_Space{ 
	height:10
}
td.Page_Top_Link{ 
	font-family: Tahoma; 
	font-size: 7pt; 
	color: #FFFFFF; 
	font-weight:bold; 
	direction:ltr ;
	text-align:center 
	
}

a:link.Header_Top_Links{
    color: #FFFFFF;
    text-decoration:none
}

a:visited.Header_Top_Links{
	color: #FFFFFF;
	text-decoration:none
}

a:hover.Header_Top_Links{ 
    color: #FF9C00;
    text-decoration:underline
}


a:link.Header_Submenu{
    color: #222222;
    text-decoration:none
}

a:visited.Header_Submenu{
	color: #222222;
	text-decoration:none
}

a:hover.Header_Submenu{ 
    color: #990000
 }

/*-------------------------------------------------*/
/*  Footer 	 				   */
/*   Classes:					   */
/*      1.td.Page_Footer_Line			   */
/*      2.td.Page_Footer			   */
/*      3.td.Header_Submenu			   */
/*      4.a:link.Footer_Link			   */
/*      5.a:visited.Footer_Link			   */
/*      6.a:hover.Footer_Link			   */
/*      7.td.Page_Bottom_Space			   */
/*-------------------------------------------------*/

td.Page_Footer_Line{ 
	height:2;
	background-color:#E0DEDE 
}
td.Page_Footer{ 
	font-family: Tahoma; 
	font-size: 7pt; 
	color: #000000; 
	font-weight:bold; 
	height:23;
	direction:ltr ;
	text-align:left ;
	background-color:#E0DEDE 

}

a:link.Footer_Link{
    color: #800000;
    text-decoration:none
}

a:visited.Footer_Link{
	color: #800000;
	text-decoration:none
}

a:hover.Footer_Link{ 
    color: red;
    text-decoration:none
}

td.Page_Bottom_Space{ 
	height:10
}

/*-------------------------------------------------*/
/*  Form Main 					   */
/*   Classes:					   */
/*      1.table.Form_Main			   */
/*-------------------------------------------------*/
table.Form_Main {  
	padding: 0;
	border-collapse: collapse ;
	direction:ltr;
	alignment:center
}

/*------------------------------------------------------*/
/*  Form Title						*/
/*    Classes: 						*/
/*	1.table.Form_Title				*/
/*	2.td.Form_Title					*/
/*      3.td.Form_Title_Begin				*/
/*      4.td.Form_Title_End				*/
/*      5.td.Form_Title_Top_Line			*/
/*      6.td.Form_Title_End_Line			*/
/*------------------------------------------------------*/

table.Form_Title {  
	padding: 0;
	border-collapse: collapse ;
	direction:ltr;
	width:100%;
	alignment:center
}

td.Form_Title{ 
	font-family: Tahoma; 
	font-size: 9pt; 
	color: #FFFFFF; 
	font-weight:bold; 
	height:20;
	direction:ltr ;
	background-color:#9A1111 
}
td.Form_Title_Begin{ 
	height:20;
	width:8
}

td.Form_Title_End{ 
	height:20;
	width:4
}

td.Form_Title_Top_Line{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #c0c0c0; 
	font-weight:bold;
	height:17;
	background-color:#FFFFFF
}
td.Form_Title_End_Line{ 
	height:3;
	background-color:#9A1111
}

/*------------------------------------------------------*/
/*  Form Foot  						*/
/*    Classes: 						*/
/*	1.table.Form_Foot				*/
/*	2.td.Form_Foot					*/
/*      3.td.Form_Foot_End				*/
/*      4.td.Form_Foot_Below_Line			*/
/*      5.td.Form_Foot_Begin_Line			*/
/*      6.td.Form_Foot_Buttons  			*/
/*------------------------------------------------------*/

table.Form_Foot {  
	padding: 0;
	border-collapse: collapse ;
	direction:ltr;
	width:100%;
	alignment:center
}

td.Form_Foot_End{ 
	height:20;
	width:14
}

td.Form_Foot_Below_Line{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #c0c0c0; 
	font-weight:bold;
	height:18;
	width:100%;
	background-color:#FFFFFF
}
td.Form_Foot_Begin_Line{ 
	height:2;
	background-color:#9A1111
}
td.Form_Foot_Buttons{ 
	height:20;
	direction:ltr ;
	Text-align:right ;
	background-color:#FFFFFF
}

/*--------------------------------------------------------------*/
/*  Form Content 1col & 2col & Userinfo & GroupInfo		*/
/*    Classes:  						*/
/*	1.td.Form_Content_Row_Begin				*/
/*	2.td.Form_Content_Row_End				*/
/*      3.td.Form_Content_Row_Left_light			*/
/*      4.td.Form_Content_Row_Right_light			*/
/*      5.td.Form_Content_Row_Left_2Col_light			*/
/*      6.td.Form_Content_Row_Right_2Col_light			*/
/*      7.td.Form_Content_Row_Left_dark				*/
/*      8.td.Form_Content_Row_Right_dark			*/
/*      9.td.Form_Content_Row_Left_2Col_dark			*/
/*      10.td.Form_Content_Row_Right_2Col_dark			*/
/*      11.td.Form_Content_Row_Space				*/
/*      12.td.Form_Content_Col_Space				*/
/*      13.td.Form_Content_Row_Left_userinfo_light		*/
/*      14.td.Form_Content_Row_Right_userinfo_light		*/
/*      15.td.Form_Content_Row_groupinfo_light			*/
/*      16.td.Form_Content_Row_Left_userinfo_dark		*/
/*      17.td.Form_Content_Row_Right_userinfo_dark		*/
/*      18.td.Form_Content_Row_groupinfo_dark			*/
/*--------------------------------------------------------------*/

td.Form_Content_Row_End{ 
	height:20;
	width:8;
}

td.Form_Content_Row_Begin{ 
	height:20;
	width:8
}

td.Form_Content_Row_Left_light{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #353535; 
	font-weight:bold; 
	height:20;
	width:50%;
	direction:ltr ;
	background-color:#ECECEC
}

td.Form_Content_Row_Right_light{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #800000; 
	font-weight:bold; 
	width:50%;
	height:20;
	direction:ltr ;
	background-color:#ECECEC
}

td.Form_Content_Row_Left_2Col_light{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #353535; 
	font-weight:bold; 
	height:20;
	width:25%;
	direction:ltr ;
	background-color:#ECECEC
}

td.Form_Content_Row_Right_2Col_light{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #800000; 
	font-weight:bold; 
	width:25%;
	height:20;
	direction:ltr ;
	background-color:#ECECEC
}
td.Form_Content_Row_Left_dark{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #353535; 
	font-weight:bold; 
	height:20;
	width:50%;
	direction:ltr ;
	background-color:#D9D9D9
}

td.Form_Content_Row_Right_dark{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #800000; 
	font-weight:bold; 
	width:50%;
	height:20;
	direction:ltr ;
	background-color:#D9D9D9
}

td.Form_Content_Row_Left_2Col_dark{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #353535; 
	font-weight:bold; 
	height:20;
	width:25%;
	direction:ltr ;
	background-color:#D9D9D9
}

td.Form_Content_Row_Right_2Col_dark{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #800000; 
	font-weight:bold; 
	width:25%;
	height:20;
	direction:ltr ;
	background-color:#D9D9D9
}

td.Form_Content_Row_Space{ 
	height:1;
	width:100%;
	background-color:#FFFFFF
}
td.Form_Content_Col_Space{ 
	font-family: Tahoma; 
	font-size: 6pt; 
	height:20;
	width:1;
	background-color:#FFFFFF
}
td.Form_Content_Row_Left_userinfo_light{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #000000; 
	font-weight:bold; 
	height:20;
	width:35%;
	direction:ltr ;
	background-color:#ECECEC
}

td.Form_Content_Row_Right_userinfo_light{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #800000; 
	font-weight:bold; 
	width:35%;
	height:20;
	direction:ltr ;
	background-color:#ECECEC
}

td.Form_Content_Row_groupinfo_light{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #800000; 
	font-weight:bold; 
	width:30%;
	height:20;
	alignment:center ;
	direction:ltr ;
	background-color:#ECECEC
}
td.Form_Content_Row_Left_userinfo_dark{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #000000; 
	font-weight:bold; 
	height:20;
	width:35%;
	direction:ltr ;
	background-color:#D9D9D9
}

td.Form_Content_Row_Right_userinfo_dark{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #800000; 
	font-weight:bold; 
	width:35%;
	height:20;
	direction:ltr ;
	background-color:#D9D9D9
}

td.Form_Content_Row_groupinfo_dark{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #800000; 
	font-weight:bold; 
	width:30%;
	height:20;
	alignment:center ;
	direction:ltr ;
	background-color:#D9D9D9
}

/*----------------------------------------------------------------------*/
/*  Form Content textarea	  					*/
/*    Classes:  							*/
/*	1.td.Form_Content_Row_Left_textarea				*/
/*	2.td.Form_Content_Row_Right_textarea				*/
/*      3.td.Form_Content_Row_Left_textarea_td_light			*/
/*      4.td.Form_Content_Row_Right_textarea_td_light			*/
/*      5.td.Form_Content_Row_Top_textarea_line_light			*/
/*      6.td.Form_Content_Row_Bottom_textarea_line_light		*/
/*      7.td.Form_Content_Row_Left_textarea_td_dark			*/
/*      8.td.Form_Content_Row_Right_textarea_td_dark			*/
/*      9.td.Form_Content_Row_Top_textarea_line_dark			*/
/*      10.td.Form_Content_Row_Bottom_textarea_line_dark		*/
/*      11.td.Form_Content_Row_Textarea_corner				*/
/*      12.td.Form_Content_Row_Left_textarea_userinfo			*/
/*      13.td.Form_Content_Row_Right_textarea_userinfo			*/
/*      14.td.Form_Content_Row_Right_textarea_groupinfo			*/
/*	15.Form_Content_Row_Right_textarea_line_light 			*/
/*	16.Form_Content_Row_Left_textarea_line_light 			*/
/*	17.Form_Content_Row_Right_textarea_line_dark 			*/
/*	18.Form_Content_Row_Left_textarea_line_dark			*/
/*----------------------------------------------------------------------*/

td.Form_Content_Row_Left_textarea{ 
	width:50%;
	direction:ltr ;
	background-color:#FFFFFF
}

td.Form_Content_Row_Right_textarea{ 
	width:50%;
	direction:ltr ;
	background-color:#FFFFFF
}

td.Form_Content_Row_Left_textarea_td_light{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #353535; 
	font-weight:bold; 
	width:100%;
	height:20;
	direction:ltr ;
	background-color:#ECECEC
}
td.Form_Content_Row_Right_textarea_td_light{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #800000; 
	font-weight:bold; 
	width:100%;
	height:10;
	direction:ltr ;
	background-color:#ECECEC
}
td.Form_Content_Row_Top_textarea_line_light{ 
	font-size: 1pt; 
	height:5;
	width:100%;
	background-color:#ECECEC
}
td.Form_Content_Row_Bottom_textarea_line_light{ 
	font-size: 1pt; 
	height:5;
	width:100%;
	background-color:#ECECEC
}

td.Form_Content_Row_Left_textarea_td_dark{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #353535; 
	font-weight:bold; 
	width:100%;
	height:20;
	direction:ltr ;
	background-color:#D9D9D9
}
td.Form_Content_Row_Right_textarea_td_dark{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #800000; 
	font-weight:bold; 
	width:100%;
	height:10;
	direction:ltr ;
	background-color:#D9D9D9
}
td.Form_Content_Row_Top_textarea_line_dark{ 
	font-size: 1pt; 
	height:5;
	width:100%;
	background-color:#D9D9D9
}
td.Form_Content_Row_Bottom_textarea_line_dark{ 
	font-size: 1pt; 
	height:5;
	width:100%;
	background-color:#D9D9D9
}

td.Form_Content_Row_Textarea_corner{ 
	height:5;
	width:5;
	background-color:#FFFFFF
}

td.Form_Content_Row_Left_textarea_userinfo{ 
	width:35%;
	direction:ltr ;
	background-color:#FFFFFF
}

td.Form_Content_Row_Right_textarea_userinfo{ 
	width:35%;
	direction:ltr ;
	background-color:#FFFFFF
}
td.Form_Content_Row_Right_textarea_groupinfo{ 
	width:30%;
	direction:ltr ;
	background-color:#FFFFFF
}
td.Form_Content_Row_Right_textarea_line_light{ 
	font-size: 1pt; 
	background-color:#ECECEC
}
td.Form_Content_Row_Left_textarea_line_light{ 
	font-size: 1pt; 
	background-color:#ECECEC
}
td.Form_Content_Row_Right_textarea_line_dark{ 
	font-size: 1pt; 
	background-color:#ECECEC
}
td.Form_Content_Row_Left_textarea_line_dark{ 
	font-size: 1pt; 
	background-color:#ECECEC
}

/*-------------------------------------------------*/
/*  List Main 					   */
/*   Classes:					   */
/*      1.table.List_Main			   */
/*-------------------------------------------------*/
table.List_Main {  
	padding: 0;
	direction:ltr;
	alignment:center
}

/*------------------------------------------------------*/
/*  List Rows				   		*/
/*    Classes:  					*/
/*		1.tr.List_Row_LightColor		*/
/*		2.tr.List_Row_DarkColor			*/
/*		3.tr.List_Foot_Line			*/
/*------------------------------------------------------*/

tr.list_Row_LightColor{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #0000000; 
	direction:ltr ;
	background-color:#ECECEC;
	Text-align:center
}
tr.List_Row_DarkColor{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #000000; 
	direction:ltr ;
	background-color:#D9D9D9;
	Text-align:center
}
tr.List_Foot_Line{ 
	height:3;
	background-color:#9A1111
}

/*------------------------------------------------------*/
/*  List Title   					*/
/*    Classes:  					*/
/*	1.table.List_Title				*/
/*	2.td.List_Title					*/
/*      3.td.List_Title_Begin				*/
/*      4.td.List_Title_End				*/
/*      5.td.List_Title_Top_Line			*/
/*      6.td.List_Title_End_Line			*/
/*      7.tr.list_Head					*/
/*	8.td.List_Title_Icon				*/
/*------------------------------------------------------*/

table.List_Title {  
	padding: 0;
	border-collapse: collapse ;
	direction:ltr;
	width:100%;
	alignment:center
}

td.List_Title{ 
	font-family: Tahoma; 
	font-size: 9pt; 
	color: #FFFFFF; 
	font-weight:bold; 
	height:20;
	direction:ltr ;
	background-color:#9A1111 ;
	width:50%
}
td.List_Title_Begin{ 
	height:20;
	width:8
}

td.List_Title_End{ 
	height:20;
	width:4
}

td.List_Title_Top_Line{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #c0c0c0; 
	font-weight:bold;
	height:17;
	background-color:#FFFFFF
}
td.List_Title_End_Line{ 
	height:3;
	background-color:#9A1111
}

tr.list_Head{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #FFFFFF; 
	font-weight:bold; 
	height:19;
	direction:ltr ;
	background-color:#9A1111;
	Text-align:center
}
td.List_Title_Icon{ 
	width:19;
	direction:ltr;
	background-color:#FFFFFF;
	text-alignment:center
}

/*----------------------------------------------------*/
/*  Input 					      */
/*   Classes:					      */									  
/*   	1.Text					      */									  
/*   	2.Num					      */									  
/*----------------------------------------------------*/

input.text{
	border:1px solid #d6d6d6; 
	font-size: 8pt;
	font-family:Tahoma;
	color: #800000;
	height:18px;
	width:110px
}

input.Num{
	border-style:solid; 
	border-width:1;
	font-weight:bold; 
	font-size: 9pt;
	font-family:Courier New;
	color: #000000;
	height:18px;
	direction:ltr
}

/*----------------------------------------------------*/
/*  Select 					      */
/*   Classes:					      */									  
/*   	1.'general'				      */									  
/*----------------------------------------------------*/
select       { 
	border:1px solid #000000; 
	padding:1px; 
	font-family: Tahoma; 
	font-size: 8pt; 
	color:#000000; 
	background-color:#FFFFFF
}

/*----------------------------------------------------*/
/*  Textarea 					      */
/*   Classes:		    	                      */									  
/*   	1.text			                      */									  
/*----------------------------------------------------*/
textarea.text { 
	border:1px solid #d6d6d6; 
	direction: ltr; 
	textalign: left; 
	font-family:Tahoma; 
	font-size:8pt; 
	color:#800000; 
	background-color:#FFFFFF;
	height:56px;
	width:100%
}
/*------------------------------------------------------*/
/* 	Error Table & Message				*/
/*	  Classes 					*/
/*	     1.td.error_messages			*/
/*------------------------------------------------------*/	

td.error_messages{ 
	font-family: Tahoma; 
	font-size: 9pt; 
	color: red; 
	font-weight:bold; 
	height:18;
	direction:ltr ;
	background-color:#FFFFFF
}
